@media(max-width: 1024px){
    .background{
        flex-wrap: column;
        background-color: #36393F;
        float: left;

    }

    .nav-left{

        width: 125px;
        background-color: yellow;

    }

    .nav-mid-left{
        width: 375px;
        background-color: blue

    }
    
    .nav{
        width: 624px;
        height: 8vh;
        position: absolute;
        border-bottom: 3px solid white;
        float: left;
        background-color: green
        
    }
    
    .text-chat{
        margin-top: 8vh;
        width: 1024px;
        height: 82vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;

    }
    
    .input-bar{
        width: 525px;
        height: 10vh;
        /* position: absolute; */
        background-color: purple;
    }
}


@media(max-width: 768px){
    .background{
        flex-wrap:wrap;
        background-color: #36393F;
    }
    
    .nav{
        width: 768px;
        height: 8vh;
        position: absolute;
        border-bottom: 3px solid white
        
        
    }
    
    .text-chat{
        margin-top: 8vh;
        width: 768px;
        height: 82vh;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .input-bar{
        width: 768px;
        height: 10vh;
    }
}

@media(max-width: 425px){
    .background{
        flex-wrap:wrap;
        background-color: #36393F;
    }
    
    .nav{
        width: 425px;
        height: 8vh;
        position: absolute;
        border-bottom: 3px solid white
        
        
    }
    
    .text-chat{
        margin-top: 8vh;
        width: 425px;
        height: 82vh;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .input-bar{
        width: 425px;
        height: 10vh;
    }
}

@media(max-width: 375px){
    .background{
        flex-wrap:wrap;
        background-color: #36393F;
    }
    
    .nav{
        width: 375px;
        height: 8vh;
        position: absolute;
        border-bottom: 3px solid white
        
        
    }
    
    .text-chat{
        margin-top: 8vh;
        width: 375px;
        height: 82vh;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .input-bar{
        width: 375px;
        height: 10vh;
    }
}

@media(max-width: 320px){
    .background{
        flex-wrap:wrap;
        background-color: #36393F;
    }
    
    .nav{
        width: 320px;
        height: 8vh;
        position: absolute;
        border-bottom: 3px solid white
        
        
    }

    
    .text-chat{
        margin-top: 8vh;
        width: 320px;
        height: 82vh;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .input-bar{
        width: 320px;
        height: 10vh;
    }
}
