.side-drawer{
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: white;
}

a.create-channel{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
    font-size: 60px;
}