.side-drawer{
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: #36393f;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.channel-button{
    border-radius: 10px;
    background-color: grey;
    color: white;
    margin-top: 10%
}

/* .channel-box{
    width: 95%;
    height: 95%;
    margin-top: 10%;
    border-color: red;
} */

.for-create-channel{
    width: 50%;
    height: 10%;
    color: white;
    background-color: gray;
    margin-top: 10%;
    border-radius: 10px;
    border: 3px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

a.create-channel{
    color: white;
}

a:link{
    text-decoration: none;
}



