@media(max-width: 768px){
    .InputBar-Background{
        background-color: #36393F;
        height: 40px;
        margin-top: 15px;
    
    }
    
    .picture-input-button{
        padding: 0;
        margin-top: 1px;
        float: left;
        width: 50px;
        height: 45px;
    }
    
    .picture-input-button-image{
        width: 50px;
        height: 40px;
    }
    
    .text-input{
        float: left;
        height: 40px;
        width: 660px;
        border-left: 3px green solid;
        border-right: 3px green solid;
        background: #36393F;
        border-radius: 8px;
    }
    
    .enter-button{
        padding: 0;
        margin-top: 1px;
        float: left;
        width: 50px;
        height: 45px;
    }
}

@media(max-width: 425px){
    .InputBar-Background{
        background-color: #36393F;
        height: 40px;
        margin-top: 15px;
    
    }
    
    .picture-input-button{
        padding: 0;
        margin-top: 1px;
        float: left;
        width: 53.125px;
        height: 45px;
    }
    
    .picture-input-button-image{
        width: 43px;
        height: 40px;
    }
    
    .text-input{
        float: left;
        height: 40px;
        width: 310.25px;
        border-left: 3px green solid;
        border-right: 3px green solid;
        background: #36393F;
        border-radius: 8px;
    }
    
    .enter-button{
        padding: 0;
        margin-top: 1px;
        float: left;
        width: 53.125px;
        height: 45px;
    }
}

@media(max-width: 375px){
    .InputBar-Background{
        background-color: #36393F;
        height: 40px;
        margin-top: 15px;
    
    }
    
    .picture-input-button{
        padding: 0;
        margin-top: 1px;
        float: left;
        width: 46.875px;
        height: 45px;
    }
    
    .picture-input-button-image{
        width: 44px;
        height: 38px;
    }
    
    .text-input{
        float: left;
        height: 40px;
        width: 273px;
        border-left: 3px green solid;
        border-right: 3px green solid;
        background: #36393F;
        border-radius: 8px;
    }
    
    .enter-button{
        padding: 0;
        margin-top: 1px;
        float: left;
        width: 46.875px;
        height: 45px;
    }
}


@media(max-width: 320px){
    .InputBar-Background{
        background-color: #36393F;
        height: 40px;
        margin-top: 15px;
    
    }
    
    .picture-input-button{
        padding: 0;
        margin-top: 1px;
        float: left;
        width: 40px;
        height: 45px;
    }
    
    .picture-input-button-image{
        width: 37px;
        height: 40px;
    }
    
    .text-input{
        float: left;
        height: 40px;
        width: 232px;
        border-left: 3px green solid;
        border-right: 3px green solid;
        background: #36393F;
        border-radius: 8px;
    }
    
    .enter-button{
        padding: 0;
        margin-top: 1px;
        float: left;
        width: 40px;
        height: 45px;
    }
}