#app{
    background-image: linear-gradient(128deg, rgba(64, 61, 57, .1), rgba(255,255,255,.2));
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    /* background-color: aqua; */
    /* width: 100%; */
    min-height: 100%;
 }


.background{
    background-image: linear-gradient(99deg, #ff70a6, #ff9770, 40%, #ffd670 73%,
    #e9ff70);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.log-box{
    width: 33%;
    height: 45%;
    /* margin: 0 auto; */
    margin-top: 14.0625%;
    padding: 10px;
    position: relative;
    
    border-radius: 2px;
    
    
    box-shadow: 0 1px 3px 0
    rgba(0, 0, 0, .1), 0 1px 2px 0 
    rgba(0, 0, 0, .2);
    
}

.logo {
    margin-top: 20px;
    /* margin-left: 20px; */
}

/* .auth-helo{
    text-align: center
} */


.title{
    /* margin-right: px; */
    font-size: 90px;

}

.login-register{
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% - 46%, 
    #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    background-color: #403d39;
    color: #ffffff;
    font-size: 20px;
    width: 65%;
    height: 40px;
    margin-top: 10px;

}

@media (max-width: 320px){

    #app{
        background-color: black;
        min-height: 100%;
     }
    
    .background{
        background-color: black;
        width: 107%;
        height: 652px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .log-box{
        width: 50%;
        height: 45%;
        /* margin: 0 auto; */
        margin-top: 45%;
        padding: 10px;
        position: relative;
        
        border-radius: 2px;
        
        box-shadow: 0 1px 3px 0
        rgba(0, 0, 0, .1), 0 1px 2px 0 
        rgba(0, 0, 0, .2);
        
    }

    .logo {
        margin-top: 40px;
    }
    
    .title{
        font-size: 30px;
    }
    
    .login-register{
        border-radius: 1px;
        background-color: #403d39;
        color: #ffffff;
        font-size: 15px;
        width: 65%;
        height: 40px;
        margin-top: 10px;
}
}